ul
    each track in tracks
        li: a.track(data-track_id=track.id, href="/tracks/"+track.id)
            img.mini-avatar(src=track.artwork_url)
            strong= track.user.username
            |  - #{ track.title }

