*
    margin: 0
    padding: 0

body
    font: 13px/20px "Helvetica", "Arial", sans-serif
    font-weight: 200
    -webkit-touch-callout: none !important

a
    -webkit-user-select: none !important
    text-decoration: none
    color: inherit


#main
    //-webkit-backface-visibility: hidden
    position: relative
    overflow-x: hidden

.blank
    height: 44px

#menu
    display: none
    -webkit-backface-visibility: hidden
    -webkit-transform: translate3d(0,0,0)
    position: fixed
    top: 0
    left: 0
    width: 225px
    bottom: 0
    z-index: 100

    ul
        list-style: none

        li
            a
                display: block
                padding: 12px 10px
                font-weight: bold
                i
                    margin-right: 4px

            .right
                position: absolute
                right: 0
                top: 0

            a.btn-mini
                display: inline-block
                padding: 5px 3px 4px 6px
                margin: 10px 6px 0 0
                border-radius: 4px
                text-align: center

            .search
                display: block
                padding: 8px 6px
                position: relative
                width: 225px
                box-sizing: border-box
                input
                    width: 151px
                    padding: 7px 8px 4px 10px
                    box-sizing: border-box
                    border-radius: 15px
                    border: none
                    -webkit-appearance: none !important
                    font: inherit
                    font-weight: normal
                i.icon-search
                    position: absolute
                    right: 80px
                    top: 19px

    .controls
        padding-top: 8px
        position: absolute
        width: 225px
        bottom: 0
        a
            display: block
            box-sizing: border-box
            float: left
            width: 75px
            height: 44px
            line-height: 34px
            text-align: center
            &:first-child
                text-align: left
                padding-left: 0px
            &:first-child
                text-align: right
                padding-right: 0px
        input[type=range]
            width: 175px
            margin-left: 25px
            margin-bottom: 20px
            -webkit-appearance: none !important
            border-radius: 10px
            height: 5px
            &::-webkit-slider-thumb
                -webkit-appearance: none !important
                height: 33px
                width: 27px
                border-radius: 60px
                //position: absolute
                //bottom: 5px
                //-webkit-transition: -webkit-transform 0.2s
                -webkit-transition: all 0.2s
                //-webkit-transform: scale3d(0.8, 0.8, 1.0)
                //-webkit-transform: translate3d(0.0, 0.0, 0.0)
                position: relative
                &:active
                    height: 70px
                    bottom: 20px
                    //-webkit-transform: scale3d(2.2, 2.2, 1.0)
                &:after
                    display:block
                    content:'J'
                    font-family: FontAwesome
                    content: "\f028"
                    left: 0
                    right: 0
                    top: 0
                    bottom: 0
                    font-size: 15px
                    line-height: 33px
                    text-align: center
        
        #now_playing .track
            padding: 0 10px 13px
            margin-bottom: 10px

#info
    position: absolute
    top: 100px
    left: 50px
    width: 200px
    height: 200px
    padding: 20px
    border-radius: 3px

#header
    position: fixed
    z-index: 999
    top: 0
    width: 100%
    height: 44px

    h1
        font-size: 16px
        text-transform: uppercase
        line-height: 48px
        font-weight: bold
        padding-left: 7px

    .btn
        display: block
        float: left
        height: 44px
        line-height: 48px
        font-size: 16px
        padding: 0 16px
        box-sizing: border-box
    
    .center
        text-align: center

    .left, .right
        position: absolute
        top: 0

    .left
        left: 0

    .right
        right: 0

.block
    padding: 10px

.user
    .details
        float: left
    .username
        line-height: 23px
        margin-top: 5px
        font-size: 20px
        font-weight: bold
    img.avatar
        float: left
        top: 0
        height: 40px
        margin-top: 5px
        margin-right: 10px

.clear
    clear: left

.tabs
    .tab
        display: inline-block
        box-sizing: border-box
        padding: 4px
        text-align: center
        span
            display: block
            padding: 4px
            border-radius: 4px
            font-weight: bold
    &.four
        .tab
            width: 25%

#content
    z-index: 200
    position: relative
    top: 0
    -webkit-transform: translate3d(0,0,0)
    -webkit-transition: -webkit-transform 0.5s
    &.opened
        -webkit-transform: translate3d(225px,0,0)

    ul
        list-style: none

        li
            &.selected
                a
                    opacity: 0.8
            a
                display: block
                padding: 5px 7px 9px
                position: relative
.track, .user
    img
        position: relative
        top: 5px
        margin-left: 1px
        margin-right: 7px
        height: 20px

@media (min-width: 600px)
    a.btn.menu
        display: none !important
    #content
        -webkit-transform: translate3d(225px,0,0) !important
        margin-right: 225px


.loading
    //-webkit-backface-visibility: hidden
    -webkit-transform: translate3d(0,0,0)
    position: absolute
    z-index: 400
    top: 0
    left: 0
    right: 0
    bottom: 0
    //opacity: 1.0
    //-webkit-transition: opacity 0.4s
    .loader
        position: absolute
        width: 32px
        height: 32px
        -webkit-animation-name: rotate
        -webkit-animation-duration: 1.5s
        -webkit-animation-iteration-count: infinite
        -webkit-animation-timing-function: linear

@-webkit-keyframes rotate
    from
        -webkit-transform: rotate(0deg)
    to
        -webkit-transform: rotate(360deg)

